<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="container" >
    <div class="row">
      <div class="col-md-6">
        <p> hello tout le monde </p>
      </div>

      <div class="col-md-6">
        <app-signup></app-signup>
      </div>

    </div>
</div>-->

<!--<app-signup></app-signup>-->

<div *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
